<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Saxopedia</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <nav class="navbar">
        <div class="nav-container">

            <a href="{{ url_for('index') }}" class="logo">
                <img class="logo-icon" src="{{ url_for('static', filename='images/SaxopediaAppIcon.png') }}" alt="Saxopedia">
                <span class="logo-text">Saxopedia</span>
            </a>
            <div class="nav-links">
                <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                <a class="nav-link" href="{{ url_for('repertoire') }}">Saxophone Repertoire</a>
                <a class="nav-link" href="{{ url_for('composer', name='Bach') }}">Composer</a>
                <a class="nav-link" href="{{ url_for('register', form='form') }}">Register</a>
                <a class="nav-link" href="{{ url_for('login', form='form') }}">Login</a>
                <a class="nav-link" href="{{ url_for('played', current_user='current_user') }}">Played List (haha see what I did there)</a>
            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}

    <footer class="footer">
        <p>Saxopedia &copy; 2026 Gaurav Sarangi, Austin Shilling</p>
    </footer>


</body>
</html>