<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Saxopedia</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <nav class="navbar">
        <div class="nav-container">

            <a href="{{ url_for('index') }}" class="logo">Saxopedia</a>
            <div class="nav-links">
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('repertoire') }}">Saxophone Repertoire</a>
                <a href="{{ url_for('composer', name='Bach') }}">Composer</a>
                <a href="{{ url_for('register', form='form') }}">Register</a>
            </div>
        </div>
    </nav>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <footer class="footer">
        <p>Saxopedia</p>
        <p> &copy; 2026 Gaurav Sarangi, Austin Shilling</p>
    </footer>


</body>
</html>